
SO1.aux
SO1.glo
SO1.idx
SO1.log
SO1.toc
SO1.ist
SO1.acn
SO1.acr
SO1.alg
SO1.bbl
SO1.blg
SO1.dvi
SO1.glg
SO1.gls
SO1.ilg
SO1.ind
SO1.lof
SO1.lot
SO1.maf
SO1.mtc
SO1.mtc1
SO1.out
SO1.fdb_latexmk
SO1.fls
SO1.pdf
SO1.slg
SO1.slo
SO1.sls
SO1.tdo
SO1.synctex.gz
