
relatorios/relatorio_1/*.aux
relatorios/relatorio_1/*.glo
relatorios/relatorio_1/*.idx
relatorios/relatorio_1/*.log
relatorios/relatorio_1/*.toc
relatorios/relatorio_1/*.ist
relatorios/relatorio_1/*.acn
relatorios/relatorio_1/*.acr
relatorios/relatorio_1/*.alg
relatorios/relatorio_1/*.bbl
relatorios/relatorio_1/*.blg
relatorios/relatorio_1/*.dvi
relatorios/relatorio_1/*.glg
relatorios/relatorio_1/*.gls
relatorios/relatorio_1/*.ilg
relatorios/relatorio_1/*.ind
relatorios/relatorio_1/*.lof
relatorios/relatorio_1/*.lot
relatorios/relatorio_1/*.maf
relatorios/relatorio_1/*.mtc
relatorios/relatorio_1/*.mtc1
relatorios/relatorio_1/*.out
relatorios/relatorio_1/*.synctex*.gz
relatorios/relatorio_1/*.fdb_latexmk
relatorios/relatorio_1/*.fls
relatorios/relatorio_1/*.pdf
relatorios/relatorio_1/*.slg
relatorios/relatorio_1/*.slo
relatorios/relatorio_1/*.sls
relatorios/relatorio_1/*.tdo
*.o
