
SO5.aux
SO5.glo
SO5.idx
SO5.log
SO5.toc
SO5.ist
SO5.acn
SO5.acr
SO5.alg
SO5.bbl
SO5.blg
SO5.dvi
SO5.glg
SO5.gls
SO5.ilg
SO5.ind
SO5.lof
SO5.lot
SO5.maf
SO5.mtc
SO5.mtc5
SO5.out
SO5.fdb_latexmk
SO5.fls
SO5.pdf
SO5.slg
SO5.slo
SO5.sls
SO5.tdo
SO5.synctex.gz
