
SO3.aux
SO3.glo
SO3.idx
SO3.log
SO3.toc
SO3.ist
SO3.acn
SO3.acr
SO3.alg
SO3.bbl
SO3.blg
SO3.dvi
SO3.glg
SO3.gls
SO3.ilg
SO3.ind
SO3.lof
SO3.lot
SO3.maf
SO3.mtc
SO3.mtc3
SO3.out
SO3.fdb_latexmk
SO3.fls
SO3.pdf
SO3.slg
SO3.slo
SO3.sls
SO3.tdo
SO3.synctex.gz
