
SO6.aux
SO6.glo
SO6.idx
SO6.log
SO6.toc
SO6.ist
SO6.acn
SO6.acr
SO6.alg
SO6.bbl
SO6.blg
SO6.dvi
SO6.glg
SO6.gls
SO6.ilg
SO6.ind
SO6.lof
SO6.lot
SO6.maf
SO6.mtc
SO6.mtc*
SO6.out
SO6.fdb_latexmk
SO6.fls
SO6.pdf
SO6.slg
SO6.slo
SO6.sls
SO6.tdo
SO6.synctex.gz
