
SO4.aux
SO4.glo
SO4.idx
SO4.log
SO4.toc
SO4.ist
SO4.acn
SO4.acr
SO4.alg
SO4.bbl
SO4.blg
SO4.dvi
SO4.glg
SO4.gls
SO4.ilg
SO4.ind
SO4.lof
SO4.lot
SO4.maf
SO4.mtc
SO4.mtc4
SO4.out
SO4.fdb_latexmk
SO4.fls
SO4.pdf
SO4.slg
SO4.slo
SO4.sls
SO4.tdo
SO4.synctex.gz
